@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;     

    /* Grid Settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color_dark: #373737;
    --color-light: #ebebeb;


    /* color swatch category */
    --category-seafood: #3E30E2;
    --category-chicken: #249C8E;
    --category-meats: #D09189;
    --category-veg: #298F3F;
    --category-dessert: #9374EB;
    --category-misc: #9A951E;
    --category-pasta: #BF5B23;
}

/* Reset CSS */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Global CSS */
.category-seafood {
  color: var(--category-seafood)
}

.category-chicken {
  color: var(--category-chicken)
}

.category-veg {
  color: var(--category-veg)
}

.category-dessert {
  color: var(--category-dessert);
}

body {
  background-color: #dddddd;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #111111;
  height: auto;
  width:var(--width-full);
}

.navigation {
background-color: #00000088;
position:relative;
z-index: 1;
}

.menu-container {
  width: var(--width-12col);
  margin:0 auto 0 auto;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
}

.menu-container ul {
  display: flex;
  font-size: 12px;
  color: var(--color-light);
  grid-column: 1 / span 3;
}

.menu-container ul li {
  list-style-type: none;
  margin: 10px 0 10px 0;
}

.menu-container ul li a {
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid var(--color-light);
  padding: 0 10px 0 10px;
}

.menu-container ul li a:hover {
  color: var(--primary-color);
}

.menu-container ul li:last-child a {
  border-right: none;
}


/* homepage */
.hero {
  margin-top: -35px;
  width: var(--width-full);
  background-image: url('https://picsum.photos/1280/650');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  color: var(--color-light);
}

.hero-container {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: var(--grid-gap);
  height:100%;
  width: var(--width-12col);
  margin:0 auto 0 auto;
}

.hero-text {
  grid-column: 1 / span 4;
  grid-row: 1;
  margin-top:200px
}

.hero-text-small-header {
font-size: 12px;
}

.hero-text-big-header {
font-size: 32px;
text-transform: uppercase;
}

.hero-text-bold {
  font-weight: 900;
}

.hero-search {
  grid-column: 2 / span 3;
  grid-row: 2;
  margin-top:60px
}

.search-box {
  background-color: transparent;
  padding: 10px 40px 10px 20px;
  border: var(--color-light) 1px solid;
  border-radius: 5px;
  outline: none;
}

.search-box::placeholder {
  color: var(--color-light);
}

.todays_recipe {
  height: fit-content;
  width: var(--width-full);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:130px auto;
  gap: var(--grid-gap);
}

.todays_recipes_headline {
  height: 60px;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-size: 37px;
  font-weight: 700;
  text-transform:uppercase;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width: var(--width-12col);
  margin: 100px auto 0 auto;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.todays_recipes_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 50px auto 0 auto;
}

.todays_recipes_content_block {
  background-color: var(--background-color-light);
  position:relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 1px var(--color_dark);
}

.todays_recipes_content_block_image img {
  height: 200px;
  width: var(--width-full);
  background-size:cover;
  background-position:center;
  border-radius: 5px 5px 0 0;
}

.todays_recipes_content_block_text_top h5 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
}

.todays_recipes_content_block_text_top p {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

.todays_recipes_content_block_text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
}

.todays_recipes_content_block_bottom_area {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.todays_recipes_content_block_bottom_area_left {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 0 0 0 10px;
}

.todays_recipes_content_block_bottom_area_left p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.todays_recipes_content_block_bottom_area_right button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor: pointer;
}

.todays_recipes_content_block_bottom_area_right button:hover {
  background-color: var(--primary-color);
}

.todays_recipes_content_block_bottom_area_right button a {
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 12px;
}

#cat-test::after {
  content: attr(data-recipe)
}

p[data-recipe="seafood"] {
  color: var(--category-seafood)
}

div[data-recipe="seafood"] {
  border-left: 1px solid var(--category-seafood)
}

p[data-recipe="chicken"] {
  color: var(--category-chicken)
}

div[data-recipe="chicken"] {
  border-left: 1px solid var(--category-chicken)
}

p[data-recipe="vegetables"] {
  color: var(--category-veg)
}

div[data-recipe="vegetables"] {
  border-left: 1px solid var(--category-veg)
}

p[data-recipe="desserts"] {
  color: var(--category-dessert)
}

div[data-recipe="desserts"] {
  border-left: 1px solid var(--category-dessert)
}

.categories_headline {
  height: 60px;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-size: 37px;
  font-weight: 700;
  text-transform:uppercase;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width: var(--width-12col);
  margin: 100px auto 0 auto;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.categories_content {
  display: flex;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--grid-gap);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 30px auto 0 auto;
  background-color: var(--background-color-light);
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.categories_content_block {
  display: flex;
  flex-direction: column;
  padding:10px;
  align-items: center;
  height: fit-content;  
  width: fit-content;
  cursor: pointer;
}

.categories_content_block_text {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px ;
}

#cat-trial::after {
  content: attr(data-category);
}

h6[data-category="seafood"] {
  color: var(--category-seafood);
}

h6[data-category="chicken"] {
  color: var(--category-chicken);
}

h6[data-category="vegetarian"] {
  color: var(--category-veg);
}

h6[data-category="pastas"] {
  color: var(--category-pasta);
}

h6[data-category="snacks"] {
  color: var(--category-misc);
}

h6[data-category="beef/pork"] {
  color: var(--category-meats);
}

h6[data-category="desserts"] {
  color: var(--category-dessert);
}

#fish-icon {
  color: var(--category-seafood);
  font-size: 40px;
}

#chicken-icon {
  color: var(--category-chicken);
  font-size: 40px;
}

#vegetable-icon {
  color: var(--category-veg);
  font-size: 40px;
}

#pasta-icon {
  color: var(--category-pasta);
  font-size: 40px;
}

#snack-icon {
  color: var(--category-misc);
  font-size: 40px;
}

#beef-icon {
  color: var(--category-meats);
  font-size: 40px;
}

#dessert-icon {
  color: var(--category-dessert);
  font-size: 40px;
}

.dessert_link {
  text-decoration: none;
}

.kitchen_hero {
  margin-top: 190px;
  width: var(--width-full);
  background-image: url('https://picsum.photos/1280/650');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  color: var(--color-light);
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
}

.kitchen_hero_container {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: var(--grid-gap);
  height:100%;
  width: var(--width-12col);
  margin:0 auto 0 auto;
}

.kitchen_hero_box {
  grid-column: 10 / span 12;
  margin-top:200px;
  background-color: var(--background-color-light);
  border-radius: 5px;
  height: fit-content;
}

.kitchen_hero_box_text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
}

.kitchen_hero_box_text h6 {
  font-size:15px;
  font-weight: 700; 
  margin: 0 0 10px 0;
}

.kitchen_hero_box_text h3 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
  color:var(--primary-color)
}

.kitchen_hero_box_text p {
  font-weight: 425; 
}

.in_the_kitchen_headline {
    height: 60px;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
    font-size: 37px;
    font-weight: 700;
    text-transform:uppercase;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding: 0 0 20px 0;
    width: var(--width-12col);
    margin: 100px auto 0 auto;
    text-shadow: 1px 1px 3px var(--primary-color);
  }

.in_the_kitchen_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 30px auto 0 auto;
}

.in_the_kitchen_content_block_top_left   {
  background-color: var(--background-color-light);
  position:relative;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.in_the_kitchen_content_block_top_left_box {
  padding: 30px;
  grid-column: 1 / span 8;
  margin: 55px auto auto 55px;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark);  
  display: grid;
}

.in_the_kitchen_content_block_top_left_text_box h6 {
  font-size:15px;
  font-weight: 700; 
  margin: 0 0 10px 0;
  border-left: 2px solid var(--primary-color);
  padding-left: 10px;
}

.in_the_kitchen_content_block_top_left_text_box h3 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
  color:var(--primary-color)
}

.in_the_kitchen_content_block_top_left_text_box p {
  font-weight: 425; 
}

.in_the_kitchen_content_block_top_left_box button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-weight: 300;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 50px;
  width: 179px;
}

.in_the_kitchen_content_block_top_left_box button:hover {
  background-color: var(--primary-color);
}

.in_the_kitchen_content_block_top_left_box button a {
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
}

.in_the_kitchen_content_block_top_right {
  background-color: var(--background-color-light);

  display: flex;
  flex-direction: column;
}

.in_the_kitchen_content_block_middle_left   {
  background-color: var(--background-color-light);
  position:relative;
  display: flex;
  flex-direction: column;
}

.in_the_kitchen_content_block_middle_right {
  background-color: var(--background-color-light);
  position:relative;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.in_the_kitchen_content_block_middle_right_box {
  padding: 30px;
  grid-column: 1 / span 8;
  margin: 55px auto auto 55px;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
  display: grid;
}

.in_the_kitchen_content_block_middle_right_text_box h6 {
  font-size:15px;
  font-weight: 700; 
  margin: 0 0 10px 0;
  border-left: 2px solid var(--primary-color);
  padding-left: 10px;
}

.in_the_kitchen_content_block_middle_right_text_box h3 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
  color:var(--primary-color)
}

.in_the_kitchen_content_block_middle_right_text_box p {
  font-weight: 425; 
}

.in_the_kitchen_content_block_middle_right_box button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-weight: 300;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 50px;
  width: 179px;
}

.in_the_kitchen_content_block_middle_right_box button:hover {
  background-color: var(--primary-color);
}

.in_the_kitchen_content_block_middle_right_box button a {
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
}

.in_the_kitchen_content_block_bottom_left   {
  background-color: var(--background-color-light);
  position:relative;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.in_the_kitchen_content_block_bottom_left_box {
  padding: 30px;
  grid-column: 1 / span 8;
  margin: 55px auto auto 55px;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
  display: grid;
}

.in_the_kitchen_content_block_bottom_left_text_box h6 {
  font-size:15px;
  font-weight: 700; 
  margin: 0 0 10px 0;
  border-left: 2px solid var(--primary-color);
  padding-left: 10px;
}

.in_the_kitchen_content_block_bottom_left_text_box h3 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
  color:var(--primary-color)
}

.in_the_kitchen_content_block_bottom_left_text_box p {
  font-weight: 425; 
}

.in_the_kitchen_content_block_bottom_left_box button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-weight: 300;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 50px;
  width: 179px;
}

.in_the_kitchen_content_block_bottom_left_box button:hover {
  background-color: var(--primary-color);
}

.in_the_kitchen_content_block_bottom_left_box button a {
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
}

.in_the_kitchen_content_block_bottom_right {
  background-color: var(--background-color-light);
  position:relative;  
  display: flex;
  flex-direction: column;
}

.footer_content {
  width: var(--width-full);
  height: 147px;
  background-color: var(--primary-color);
  margin-top: 241px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* .footer_line {
  width: 2px;
  height: 72px;
grid-column: 7;
background-color: var(--color-light);
border-radius: 5px;
margin: auto 0 auto 0
} */

.footer_some_box {
  grid-column: 2;
  margin: auto 0 auto 0
}

.footer_some_box ul {
  font-weight: 450;
  color: var(--color_dark);
}

.footer_some_box ul li {
  list-style-type: none;
}

.footer_some_box ul li:nth-child(2) {
  margin: 10px auto 10px auto;
}

.footer_some_box ul li a {
  text-decoration: none;
  color: var(--color_dark);
}

.footer_nav_box {
  grid-column: 4;
  margin: auto;
}

.footer_nav_box ul {
  font-weight: 450;
  color: var(--color_dark);
}

.footer_nav_box ul li {
  list-style-type: none;
}

.footer_nav_box ul li:nth-child(2) {
  margin: 10px auto 10px auto;
}

.footer_nav_box ul li a {
  text-decoration: none;
  color: var(--color_dark);
}

.footer_right_box {
  grid-column: 7 / span 5;
  margin: auto 0 auto 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: end;
  border-left: 2px solid var(--color-light);
}

.footer_right_box_spotify {
  grid-column: 3   / span 12;
  margin-bottom: auto;
}

.footer_right_box_spotify ul li{
  list-style-type: none;
}

.footer_right_box_spotify ul li a{
  text-decoration: none;
  color: var(--color-light);
  font-size: 11px;
}

.footer_right_box_etsy {
  color: var(--color_dark);
  grid-column: 9 / span 12;
  margin-top: 17.75px;
  display: flex;
}

.footer_right_box_etsy_icon {
  font-size: 23px;
  padding-left: 15px;
}

.footer_right_box_etsy_text {
  font-size: 11px;
}



/* Recipe_page */
.color-primary {
  color:var(--primary-color);
}

.recipe_details {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap:var(--grid-gap);
  width:var(--width-12col);
  margin: 0 auto;
  padding:100px 0 0 0;
}

.recipe_details_left {
  grid-column: 1 / span 6;
}


.recipe-hero-container {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  width:var(--width-12col);
  gap:var(--grid-gap);
  margin: 0 auto;
} 

.recipe-hero-text {
  grid-column: 1 / span 4;
  margin-top:0px;
  grid-row: 1;
  color: var(--background-color-light);
}

.recipe-hero-text-smallest {
  font-size: 12px;
}

.recipe-hero-text-medium {
  font-size: 32px;
  text-transform: uppercase;
  margin-top:15px;
}

.recipe-hero-text-large {
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top:5px;
  margin-bottom:15px
}

.recipe_details_ingredient_block_info_three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  margin-top: 30px;
  color: var(--color-light);
}

.recipe_details_ingredient_block_info_three_item {
  display: flex;
  padding: 10px 0;
}

.recipe_details_ingredient_block_info_three_item i {
  color: var(--primary-color);
  padding-right: 10px;
}

.recipe_details_ingredients {
  margin: 0 0 30px 0;
  color: var(--background-color-light);
  background: rgb(217,217,217);
  background: linear-gradient(90deg, rgba(217,217,217,0.23) 0%, rgba(217,217,217,0.24) 63%, rgba(217,217,217,0) 100%);
  padding: 20px 20px 5px 20px;
  border-radius: 5px;
}

.recipe_details_ingredients h4 {
font-size: 24px;
margin-bottom: 20px;
}

.recipe_details_ingredients_block_checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.recipe_details_ingredients label {
  display: flex;
  align-items: center;
  width: 45%;
  margin: 10px 10px 10px 0;
  font-size: 16px;
}

.recipe_details_ingredients input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid var(--background-color-light);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.recipe_details_ingredients input[type="checkbox"]:checked {
background-color: var(--primary-color);
border:none;
}

.recipe_details_ingredients input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--color-light);
  border-width: 0 2px 2px 0;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(45deg); 
}

.recipe_details_ingredient_block_buttons {
  display: flex;
  margin-top: 30px;
}

.recipe_details_ingredient_block_buttons button{
  background-color: transparent;
  color: var(--background-color-light);
  border: 1px solid var(--color-light);
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.recipe_details_ingredient_block_buttons button a{
text-decoration: none;
color: var(--color-light);
}

.recipe_details_ingredient_block_buttons button:hover {
  background-color: var(--primary-color);
}

.recipe_details_right {
  grid-column: 7 / span 6;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe_details_right_image {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} 

.recipe_details_right_image img {
  width:100%;
  height: 100%;
  max-width: fit-content;
  max-height: 500px;
}

.recipe_instruction_one_headline {
    height: 60px;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
    font-size: 37px;
    font-weight: 700;
    text-transform:uppercase;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding: 0 0 20px 0;
    width: var(--width-12col);
    margin: 100px auto 0 auto;
    text-shadow: 1px 1px 3px var(--primary-color);
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.instructions {
  grid-column: 1 /span 5;
}

.ingredients {
  grid-column: 11 / span 3;
}

.recipe_instruction_one_block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 40px 140.400px 0 140.400px;
 }

.recipe_instruction_one_block_left {
  grid-column: 1 / span 5;
}

.recipe_instruction_one_block_left ul {
  color: var(--color-light);
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
}

.recipe_instruction_one_block_left ul li {
  list-style-type: decimal;
  padding-left: 5px;
  margin-bottom: 30px;
}

.recipe_instruction_one_block_left ul li:last-child {
  margin-bottom: 0px;
}

.recipe_instruction_one_block_right {
  grid-column: 9 / span 6;
}

.recipe_instruction_one_block_right ul {
  color: var(--color-light);
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
}

.recipe_instruction_one_block_right ul li {
  margin-bottom: 5px;
}

.recipe_instruction_two_headline {
  height: 60px;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-size: 37px;
  font-weight: 700;
  text-transform:uppercase;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width: var(--width-12col);
  margin: 130px auto 0 auto;
  text-shadow: 1px 1px 3px var(--primary-color);
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.instructions {
grid-column: 1 /span 5;
}

.ingredients {
grid-column: 11 / span 3;
}

.recipe_instruction_two_block {
display: grid;
grid-template-columns: repeat(12, 1fr);
margin: 40px 140.400px 0 140.400px;
}

.recipe_instruction_two_block_left {
grid-column: 1 / span 5;
}

.recipe_instruction_two_block_left_step {
  display: flex;
  color: var(--color-light);
  margin-bottom: 30px;
}

.recipe_instruction_two_block_left_step_marker {
  writing-mode: vertical-rl;
  rotate: 180deg;
  margin: auto 0 0 -4px;
  color: var(--primary-color);
}

.recipe_instruction_two_block_left_step_text {
  padding-left: 30px;
}

.recipe_instruction_two_block_right {
grid-column: 9 / span 6;
}

.recipe_instruction_two_block_right ul {
color: var(--color-light);
padding-left: 15px;
font-size: 14px;
font-weight: 400;
}

.recipe_instruction_two_block_right ul li {
margin-bottom: 5px;
}

/* desserts page */
.dessert_top_display {
  margin-top: -35px;
  width: var(--width-full);
  height:600px;
  background: rgb(147,116,235);
  background: linear-gradient(180deg, rgba(147,116,235,1) 0%, rgba(147,116,235,1) 95%, rgba(147,116,235,0) 100%);
}

.dessert_top_display_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: var(--grid-gap);
  height:100%;
  width: var(--width-12col);
margin: 0 10% 0 10%;
}

.dessert_top_display_highlight {
grid-column: 1 / span 5;
grid-row: 3;
text-transform: uppercase;
cursor: pointer;
}

.dessert_top_display_highlight:hover {
  text-decoration: underline;
}

.dessert_top_display_highlight h3 {
  color: var(--color_dark);
}

.dessert_top_display_highlight h2 {
  color: var(--background-color-dark-bg);
}

.dessert_top_display_mentions {
  grid-column: 9 / span 4;
  grid-row: 3;
  justify-content: space-between;
}

.dessert_top_display_mentions_box {
  height: auto;
  width: auto;
  display: flex;
  background-color: var(--background-color-light);
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 6px;
} 

.dessert_top_display_mentions_box h4{
margin: auto 0 auto 20px;
}

.dessert_top_display_mentions_box h5 {
  margin: auto 0 auto 20px;
  font-weight: 500;
}

.dessert_top_display_mentions_box:hover {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.category_selection_headline {
  height: 60px;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-size: 37px;
  font-weight: 700;
  text-transform:uppercase;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width: var(--width-12col);
  margin: 100px auto 0 auto;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.category_selection {
  height: fit-content;
  width: var(--width-full);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:130px auto;
  gap: var(--grid-gap);
}

.category_selection_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 50px auto 0 auto;
}

.category_selection_box {
  background-color: var(--background-color-light);
  background-image: url('https://picsum.photos/1280/650');
  position:relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 1px var(--color_dark);
  height: 372.4px;  
  align-items: center;
  cursor: pointer;
  color: var(--color-light);
  }

.category_selection_box_highlight {
  height: 100%;
  width: 100%;
  opacity: 100%;
  align-items: center;
  cursor: pointer;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
}

.category_selection_box_highlight:hover {
  background-color: #bf5b2370;
}

.category_selection_box_highlight h3 {
  margin: auto 0 0 0;
  font-size: 40px;
  font-weight: 800;
}

.category_selection_box:hover {
text-decoration: underline;
}

.seasonal_picks {
  height: fit-content;
  width: var(--width-full);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:130px auto;
  gap: var(--grid-gap);
}

.seasonal_picks_headline {
  height: 60px;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-size: 37px;
  font-weight: 700;
  text-transform:uppercase;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width: var(--width-12col);
  margin: 100px auto 0 auto;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.seasonal_picks_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 50px auto 0 auto;
  flex-wrap: wrap;
}

.seasonal_picks_box {
  background-color: var(--background-color-light);
  position:relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 1px var(--color_dark);
  height: fit-content;
}

.seasonal_picks_box img {
  width: var(--width-full);
  height: 45%;
  border-radius: 5px 5px 0 0;
}

.seasonal_picks_box_desc {
  padding: 20px 10px 10px 10px; 
}

.seasonal_picks_box_desc_top h5 {
text-transform: uppercase;
font-size:22px;
font-weight: 700; 
}

.seasonal_picks_box_desc_top p {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

.seasonal_picks_box_desc_bottom {
  display: flex;
  padding: 10px 0;
  margin-top: 20px;
}

.seasonal_picks_box_desc_bottom_info {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  font-size: 16px ;
}

.seasonal_picks_box_desc_bottom_info_item {
  display: flex;
  margin: auto;
}

.seasonal_picks_box_desc_bottom_info_item i {
  color: var(--primary-color);
  padding-right: 5px;
}

.seasonal_picks_box_desc_bottom_info_item:nth-child(2) {
  margin: 10px 0 10px 0;
}

.seasonal_picks_box_desc_bottom_button {
  margin: auto 0 0 auto;
}

.seasonal_picks_box_desc_bottom_button button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 50px;
  text-transform: uppercase;
}

.seasonal_picks_box_desc_bottom_button button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700; 
  }

  .seasonal_picks_box_desc_bottom_button button:hover {
    background-color: var(--primary-color);
  }

  .features_headline {
    height: 60px;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
    font-size: 37px;
    font-weight: 700;
    text-transform:uppercase;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding: 0 0 20px 0;
    width: var(--width-12col);
    margin: 100px auto 0 auto;
    text-shadow: 1px 1px 3px var(--primary-color);
  }

  .features {
    height: fit-content;
    width: var(--width-full);
  }
  
  .features_content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: var(--grid-gap);
    height: auto;
    width: var(--width-12col);
    margin: 30px auto 0 auto;
    box-sizing: border-box;
  }

  .features_content_top {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1;
    gap: var(--grid-gap);
    height: fit-content;
    box-sizing: border-box;
    width: var(--width-12col);
    margin: 10px auto 0 auto;
  }

  .features_box_small {
    grid-column: auto / span 1;
    background-color: var(--background-color-light);
    border-radius: 5px;
    position:relative;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 1px var(--color_dark);
  }

  .features_box_small img {
    height: 200px;
    width: var(--width-full);
    background-size:cover;
    background-position:center;
    border-radius: 5px 5px 0 0;
  }

  .features_box_small_text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
    color:var(--color_dark); 
  }

  .features_box_small_text_top h5 {
    text-transform: uppercase;
    font-size:22px;
    font-weight: 700; 
    }
    
    .features_box_small_text_top p {
      font-size: 16px;
      font-family: 'Roboto Condensed', sans-serif;
    }

  .features_box_small_text_bottom {
    display: flex;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  .features_box_small_text_bottom_info {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
    font-size: 16px ;
  }
  
  .features_box_small_text_bottom_info_item {
    display: flex;
    margin: auto;
  }
  
  .features_box_small_text_bottom_info_item i {
    color: var(--primary-color);
    padding-right: 5px;
  }
  
  .features_box_small_text_bottom_info_item:nth-child(2) {
    margin: 10px 0 10px 0;
  }

  .features_box_small_text_bottom_button {
    margin: auto 0 0 auto;
  }
  
  .features_box_small_text_bottom_button button {
    background-color: var(--color_dark);
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 8px 16px;
    text-transform: uppercase;
  }
  
  .features_box_small_text_bottom_button button a {
    color: var(--color-light);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    }
  
    .features_box_small_text_bottom_button button:hover {
      background-color: var(--primary-color);
    }

    .features_box_big_right {
      grid-column: auto / span 2;
      background-color: var(--background-color-light);
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      grid-template-rows: repeat(2, 1fr);
      height: 100%;
      box-shadow: 2px 2px 1px var(--color_dark);
    }

  .features_box_big_right img {
    width: 100%;
    height: 100%;
    grid-column: 2;
    border-radius: 0 5px 5px 0;
    grid-row: 1 / span 2;
}

.features_box_big_right_text {
  padding: 20px 10px 10px 10px; 
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
}

.features_box_big_text_top h5 {
  text-transform: uppercase;
  font-size:22px;
  font-weight: 700; 
  }
  
  .features_box_big_text_top p {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
  }

.features_box_big_text_bottom {
  display: flex;
  padding: 10px 0;  
  margin: auto 0 0 0;
}

.features_box_big_text_bottom_info {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  font-size: 16px ;
}

.features_box_big_text_bottom_info_item {
  display: flex;
  margin: auto;
}

.features_box_big_text_bottom_info_item i {
  color: var(--primary-color);
  padding-right: 5px;
}

.features_box_big_text_bottom_info_item:nth-child(2) {
  margin: 10px 0 10px 0;
}

.features_box_big_text_bottom_button {
  margin: auto 0 0 auto;
}

.features_box_big_text_bottom_button button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 8px 16px;
  text-transform: uppercase;
}

.features_box_big_text_bottom_button button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  }

  .features_box_big_text_bottom_button button:hover {
    background-color: var(--primary-color);
  }

.features_content_middle {
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 2;
  gap: var(--grid-gap);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 10px auto 0 auto;
}

.features_box_big_left {
  grid-column: auto / span 2;
  background-color: var(--background-color-light);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  box-shadow: 2px 2px 1px var(--color_dark);
}

.features_box_big_left img {
width: 100%;
height: 100%;
grid-column: 1;
border-radius: 5px 0 0 5px;
grid-row: 1 / span 2;
}

.features_box_big_left_text {
  padding: 20px 10px 10px 10px; 
  grid-column: 2;
  grid-row: 1 / span 2;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
}

.features_content_bottom {
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 3;
  gap: var(--grid-gap);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 10px auto 0 auto;
}

#small_box_double_margin {
  margin: 0 2.5px 0 2.5px;
}

#small_box_left_margin {
margin: 0 2.5px 0 0;
} 

#small_box_right_margin {
  margin: 0 0 0 2.5px ;
}

#big_box_left_margin {
margin: 0 2.5px 0 0;
}

#big_box_right_margin {
  margin: 0 0 0 2.5px ;
}

.desserts_discover_headline {
  height: 60px;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-size: 37px;
  font-weight: 700;
  text-transform:uppercase;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width: var(--width-12col);
  margin: 100px auto 0 auto;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.desserts_discover_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    box-sizing: border-box;
    width: var(--width-12col);
    margin: 30px auto 0 auto;
    flex-wrap: wrap;
}

.desserts_discover_box {
  background-color: var(--background-color-light);
  position:relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 1px var(--color_dark);
}

.desserts_discover_box img {
  height: 200px;
  width: var(--width-full);
  background-size:cover;
  background-position:center;
  border-radius: 5px 5px 0 0;
}

.desserts_discover_box_text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
}

.desserts_discover_box_text_top h5 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
  }
  
  .desserts_discover_box_text_top p {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
  }

.desserts_discover_box_text_bottom {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.desserts_discover_box_text_bottom_info {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  font-size: 16px ;
}

.desserts_discover_box_text_bottom_info_item {
  display: flex;
  margin: auto;
}

.desserts_discover_box_text_bottom_info_item i {
  color: var(--primary-color);
  padding-right: 5px;
}

.desserts_discover_box_text_bottom_info_item:nth-child(2) {
  margin: 10px 0 10px 0;
}

.desserts_discover_box_text_bottom_button {
  margin: auto 0 0 auto;
}

.desserts_discover_box_text_bottom_button button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 8px 16px;
  text-transform: uppercase;
}

.desserts_discover_box_text_bottom_button button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  }

  .desserts_discover_box_text_bottom_button button:hover {
    background-color: var(--primary-color);
  }

 @media (width < 1024px) {

.container {
  max-width: 1024px;
}

  .menu-container ul {
    grid-column: 2 / span 4;
  }

  .hero-text {
    grid-column: 2 / span 4;
  }

  .hero-search {
    grid-column: 3 / span 3;
  }

  .todays_recipe {
    max-width: 1024px;
  }

.todays_recipes_headline {
  width: 80%;
}

  .todays_recipes_content {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }

  .categories_headline {
    max-width: 1024px;
    width: 80%;
  }

  .categories_content {
    max-width: 1024px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
  }

  .kitchen_hero { 
    max-width: 1024px; 
   }

   .kitchen_hero_container { 
    max-width: 100%;
   }

   .kitchen_hero_box { 
    margin-right: 15%;
    grid-column-start: 8;
   }

   .in_the_kitchen {
    max-width: 1024px;
   }

   .in_the_kitchen_headline {
    max-width: 1024px;
    width: 80%;
  }

  .in_the_kitchen_content {
    max-width: 1024px;
    width: auto;
  }

  .in_the_kitchen_content_block_top_left_box {
    margin: auto auto auto 2%;
  }

  .in_the_kitchen_content_block_middle_right_box {
    margin: auto auto auto 2%;
  }

  .in_the_kitchen_content_block_bottom_left_box {
    margin: auto auto auto 2%;
  }

  .footer_content {
    max-width: 1024px;
  }

  .footer_some_box {
    grid-column: 2 / span 2;
  }

  .footer_right_box {
    grid-column: 7 / span 6;
    grid-template-columns: repeat(12, 1fr);
    margin-right: 13%;
  }

  .footer_right_box_spotify {
    grid-column: 1 / span 12;
    margin-bottom: auto;
  }  

  .footer_right_box_spotify ul li a{
    font-size: 10px;

  }

  .footer_right_box_etsy {
    grid-column: 8 / span 5;
  }

  .recipe_details {
    max-width: 1024px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .recipe_details_right {
    margin: auto;
  } 

  .recipe_instruction_one_headline {
    max-width: 1024px;
    width: 80%;
}

  .ingredients {
    grid-column: 10 / span 3;
  }

  .recipe_instruction_one_block {
    margin: 40px 10% 0 10%;
   }

   .recipe_instruction_one_block_right {
    grid-column: 8 / span 6;
    margin-left: 10px;
  }

  .recipe_instruction_two_headline {
    max-width: 1024px;
    width: 80%;
}

  .recipe_instruction_two_block {
    margin: 40px 10% 0 10%;
   }

   .recipe_instruction_two_block_right {
    grid-column: 8 / span 6;
    margin-left: 10px;
  }

  .dessert_top_display {
    margin-top: -35px;
    max-width: 1024px;
    height: 100%;
  }

  .dessert_top_display_container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 5% 10% 5% 10%;
  }

  .dessert_top_display_highlight {
    grid-column: 1 / span 6;
    }

    .dessert_top_display_highlight img {
      width: 100%;
    }

    .dessert_top_display_highlight h3 {
      font-size: 16px;
      color: var(--color_dark);
    } 
    
    .dessert_top_display_highlight h2 {
      font-size: 20px;
      color: var(--background-color-dark-bg);
    }

    .dessert_top_display_mentions {
      grid-column: 9 / span 5;
      grid-row: 3;
      justify-content: space-between;
      height: 100%;
    }

    .dessert_top_display_mentions_box {
      height: fit-content;
      width: auto;
      display: flex;
      background-color: var(--background-color-light);
      padding: 4px;
      border-radius: 5px;
      margin: 0;
    } 

    .dessert_top_display_mentions_box img {
      height: auto;
      width: 34%;
    }

    .dessert_top_display_mentions_box:nth-child(2) {
      margin: 4px 0 4px 0;
    }

    .dessert_top_display_mentions_box:nth-child(3) {
      margin: 0 0 4px 0;
    }

    .category_selection {
      max-width: 1024px;
    }

    .category_selection_headline {
      max-width: 1024px;
      width: 80%;
    }

    .category_selection_content {
      max-width: 1024px;
      width: 80%;
    }

    .category_selection_box {
      height: 200px;  
    }

    .category_selection_box_highlight h3 {
      font-size: 30px;
    }

    .seasonal_picks {
      max-width: 1024px;
    }

    .seasonal_picks_headline {
      max-width: 1024px;
      width: 80%;
    }

    .seasonal_picks_content {
      max-width: 1024px;
      width: 80%;
    }

    .seasonal_picks_box_desc_bottom_button button {
      font-size: 16px;
      font-weight: 700;
      padding: 12px 30px;
    }

    .features {
      max-width: 1024px;
    }

    .features_headline {
      max-width: 1024px;
      width: 80%;
    }

    .features_content {
      width: 80%;
      max-width: 1024px;
      display: grid;
      grid-template-columns: none;
      justify-content:center;
    }

    .features_content_top {
      grid-template-columns: none;
      grid-template-rows: repeat(2, 1fr);
      max-width: 1024px;
      width: 100%;
      margin: auto 0 auto 0;
    }

    .features_content_middle {
      grid-template-columns: none;
      grid-template-rows: repeat(2, 1fr);
      max-width: 1024px;
      width: 100%;
      margin: auto 0 auto 0;
      margin-top: 10px;
    }

    .features_content_bottom {
      grid-template-columns: none;
      grid-template-rows: repeat(2, 1fr);
      max-width: 1024px;
      width: 100%;
      margin: auto 0 auto 0;
      margin-top: 10px;
    }

    .features_box_big_right {
      grid-row: 2;
    }

    
    .features_box_big_left {
      grid-row: 2;
    }

    .features_content_middle {
      margin: auto 0 auto 0;
    }

    .desserts_discover_headline {
      max-width: 1024px;
      width: 80%;
    }

    .desserts_discover_content {
      max-width: 1024px;
      width: 80%;
    }

    .desserts_discover_box img {
      height: 40%;
      width: var(--width-full);
    }

    .desserts_discover_box_text_bottom {
      display: block;
      margin-top: 12px;
    }

    .desserts_discover_box_text_top h5 {
      font-size:18px;
      margin: 0 0 5px 0;
      }
      
      .desserts_discover_box_text_top p {
        font-size: 14px;
      }

      .desserts_discover_box_text_bottom_info {
        font-size: 14px ;
      }

      .desserts_discover_box_text_bottom_button {
        margin-top: 12px;
      }

}

@media (width < 768px) {

  .container {
    max-width: 768px;
  }

  .todays_recipe {
    max-width: 768px;
  }

  .categories_content {
    max-width: 768px;
  } 

  .categories_content_block_text { 
    font-size: 17px;
  }

  .kitchen_hero { 
    max-width: 768px; 
   }

   .kitchen_hero_box { 
    margin-right: 15%;
    grid-column-start: 6;
   }

   .in_the_kitchen {
    max-width: 768px;
   }

   .in_the_kitchen_headline {
    max-width: 768px;
    width: 80%;
  }

  .in_the_kitchen_content {
    max-width: 768px;
  }

  .in_the_kitchen_content_block_top_left_box {
    grid-column: 1 / span 11;
    padding: 25px;
  }

  .in_the_kitchen_content_block_top_left_box button {
    margin-top: 25px;
    width: 179px;
    padding: 5px 20px;
  }

  .in_the_kitchen_content_block_middle_right_box {
    grid-column: 1 / span 11;
    padding: 25px;
  }

  .in_the_kitchen_content_block_middle_right_box button {
    margin-top: 25px;
    width: 179px;
    padding: 5px 20px;
  }

  .in_the_kitchen_content_block_bottom_left_box {
    grid-column: 1 / span 11;
    padding: 25px;
  }

  .in_the_kitchen_content_block_bottom_left_box button {
    margin-top: 25px;
    width: 179px;
    padding: 5px 20px;
  }

  .footer_right_box {
    grid-column: 7 / span 6;
    grid-template-columns: repeat(12, 1fr);
    margin-right: 5%;
  }

  .footer_right_box_spotify {
    grid-column: 1 / span 12;
    margin-bottom: auto;
  }  

  .footer_right_box_spotify ul li a{
    font-size: 9px;
  }

  .footer_right_box_etsy {
    grid-column: 7 / span 6;
  }

  .recipe_details {
    max-width: 768px;    
  }

  .recipe_details_ingredient_block_info_three {
   font-size: 13.3px;
    grid-template-columns: repeat(3, 1fr);
  }

  .recipe_details_ingredients label {
      font-size: 12.5px;
      }

  
  .recipe_details_right {
    margin: 40% 0 0 0
  } 


  .dessert_top_display {
    margin-top: -35px;
    max-width: 768px;
    height: 100%;
  }

  .dessert_top_display_container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 10% 0 10%;
  }

  .dessert_top_display {
    max-width: 768px;
  }

  .dessert_top_display_container {
    padding: 5% 10% 5% 10%;
  }

  .dessert_top_display_highlight {
    grid-column: 1 / span 12;
    }

    .dessert_top_display_mentions {
      display: flex;
      grid-column: 1 / span 12;
      grid-row: 5;
      justify-content: space-between;
      height: 100%;
    }

    .dessert_top_display_mentions_box:nth-child(2) {
      margin: 0 2.5px 0 5px;
    }

    .dessert_top_display_mentions_box:nth-child(3) {
      margin: 0 5px 0 2.5px;
    }

        .dessert_top_display_mentions_box h4{
      font-size: 14px;
      margin-left: 10px;
      }
      
    .dessert_top_display_mentions_box h5 {
      font-size: 10px;
      margin-top: 5px;
      margin-left: 10px;
      }

      .dessert_top_display_mentions_box img {
        height: auto;
        width: 40%;
      }

      .category_selection {
        max-width: 768px;
      }
  
      .category_selection_headline {
        max-width: 768px;
        width: 80%;
      }
  
      .category_selection_content {
        max-width: 768px;
        width: 80%;
      }

      .category_selection_box {
        height: 200px;  
      }

      .category_selection_box_highlight h3 {
        font-size: 26px;
      }

      .seasonal_picks {
        max-width: 768px;
      }
  
      .seasonal_picks_headline {
        max-width: 768px;
        width: 80%;
      }
  
      .seasonal_picks_content {
        max-width: 768px;
        width: 80%;
      }

      .seasonal_picks_box_desc_top h5 {
        font-size:18px;
        font-weight: 700; 
        }
        
        .seasonal_picks_box_desc_top p {
          font-size: 14px;
          font-family: 'Roboto Condensed', sans-serif;
        }

        .seasonal_picks_box_desc_bottom {
          margin-top: 10px;
        }

        .seasonal_picks_box_desc_bottom_info {
          font-size: 14px ;
        }

      .seasonal_picks_box_desc_bottom_button button {
        padding: 12px 12px;
      }

      .seasonal_picks_box_desc_bottom_button button a {
        font-size: 12px;
        }

        .features {
          max-width: 768px;
        }
    
        .features_headline {
          max-width: 768px;
        }
    
        .features_content {
          max-width: 768px;
        }
    
        .features_content_top {
          max-width: 768px;
        }
    
        .features_content_middle {
          max-width: 768px;
        }
    
        .features_content_bottom {
          max-width: 768px;
        }

        .desserts_discover_box_text_top h5 {
          font-size:14px;
          }

        .desserts_discover_box_text_top p {
          display: none;
        }

        
      .desserts_discover_box_text_bottom_info {
        font-size: 13px ;
      }

}