@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;     

    /* Grid Settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color_dark: #373737;
    --color-light: #ebebeb;


    /* color swatch category */
    --category-seafood: #3E30E2;
    --category-chicken: #249C8E;
    --category-meats: #D09189;
    --category-veg: #298F3F;
    --category-dessert: #9374EB;
    --category-misc: #9A951E;
    --category-pasta: #BF5B23;
}

/* Reset CSS */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Global CSS */
.category-seafood {
  color: var(--category-seafood)
}

.category-chicken {
  color: var(--category-chicken)
}

.category-veg {
  color: var(--category-veg)
}

.category-dessert {
  color: var(--category-dessert);
}

body {
  background-color: #dddddd;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #111111;
  height: auto;
  width:var(--width-full);
}

.navigation {
background-color: #00000088;
position:relative;
z-index: 1;
}

.menu-container {
  width: var(--width-12col);
  margin:0 auto 0 auto;
}

.menu-container ul {
  display: flex;
  font-size: 12px;
  color: var(--color-light);
}

.menu-container ul li {
  list-style-type: none;
  margin: 10px 0 10px 0;
}

.menu-container ul li a {
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid var(--color-light);
  padding: 0 10px 0 10px;
}

.menu-container ul li a:hover {
  color: var(--primary-color);
}

.menu-container ul li:last-child a {
  border-right: none;
}

.hero {
  margin-top: -35px;
  width: var(--width-full);
  background-image: url('https://picsum.photos/1280/650');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  color: var(--color-light);
}

.hero-container {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: var(--grid-gap);
  height:100%;
  width: var(--width-12col);
  margin:0 auto 0 auto;
}

.hero-text {
  grid-column: 1 / span 4;
  grid-row: 1;
  margin-top:200px
}

.hero-text-small-header {
font-size: 12px;
}

.hero-text-big-header {
font-size: 32px;
text-transform: uppercase;
}

.hero-text-bold {
  font-weight: 900;
}

.hero-search {
  grid-column: 2 / span 3;
  grid-row: 2;
  margin-top:60px
}

.search-box {
  background-color: transparent;
  padding: 10px 40px 10px 20px;
  border: var(--color-light) 1px solid;
  border-radius: 5px;
  outline: none;
}

.search-box::placeholder {
  color: var(--color-light);
}

.todays_recipe {
  height: fit-content;
  width: var(--width-full);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:130px auto;
  gap: var(--grid-gap);
}

.todays_recipes_content_block_image img {
  height: 200px;
  width: var(--width-full);
  background-size:cover;
  background-position:center;
  border-radius: 5px 5px 0 0;
}

.todays_recipes_headline {
  height: 60px;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-size: 37px;
  font-weight: 700;
  text-transform:uppercase;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width: var(--width-12col);
  margin: 100px auto 0 auto;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.todays_recipes_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 30px auto 0 auto;
}

.todays_recipes_content_block {
  background-color: var(--background-color-light);
  position:relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 1px var(--color_dark);
}

.todays_recipes_content_block_text_top h5 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
}

.todays_recipes_content_block_text_top p {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

.todays_recipes_content_block_text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
}

.todays_recipes_content_block_bottom_area {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  /* border-left: 1px solid var(--category-seafood); */
}

.todays_recipes_content_block_bottom_area_left {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 0 0 0 10px;
}

.todays_recipes_content_block_bottom_area_left p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.todays_recipes_content_block_bottom_area_right button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor: pointer;
}

.todays_recipes_content_block_bottom_area_right button a {
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 12px;
}

#cat-test::after {
  content: attr(data-recipe)
}

p[data-recipe="seafood"] {
  color: var(--category-seafood)
}

div[data-recipe="seafood"] {
  border-left: 1px solid var(--category-seafood)
}

p[data-recipe="chicken"] {
  color: var(--category-chicken)
}

div[data-recipe="chicken"] {
  border-left: 1px solid var(--category-chicken)
}

p[data-recipe="vegetables"] {
  color: var(--category-veg)
}

div[data-recipe="vegetables"] {
  border-left: 1px solid var(--category-veg)
}

p[data-recipe="desserts"] {
  color: var(--category-dessert)
}

div[data-recipe="desserts"] {
  border-left: 1px solid var(--category-dessert)
}

.categories_headline {
  height: 60px;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-size: 37px;
  font-weight: 700;
  text-transform:uppercase;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width: var(--width-12col);
  margin: 100px auto 0 auto;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.categories_content {
  display: flex;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--grid-gap);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 30px auto 0 auto;
  background-color: var(--background-color-light);
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.categories_content_block {
  display: flex;
  flex-direction: column;
  padding:10px;
  align-items: center;
  height: fit-content;  
  width: fit-content;
  justify-content: space-evenly;
  cursor: pointer;
}

.categories_content_block_text {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px ;
}

#cat-trial::after {
  content: attr(data-category);
}

h6[data-category="seafood"] {
  color: var(--category-seafood);
}

h6[data-category="chicken"] {
  color: var(--category-chicken);
}

h6[data-category="vegetarian"] {
  color: var(--category-veg);
}

h6[data-category="pastas"] {
  color: var(--category-pasta);
}

h6[data-category="snacks"] {
  color: var(--category-misc);
}

h6[data-category="beef/pork"] {
  color: var(--category-meats);
}

h6[data-category="desserts"] {
  color: var(--category-dessert);
}

#fish-icon {
  color: var(--category-seafood);
  font-size: 40px;
}

#chicken-icon {
  color: var(--category-chicken);
  font-size: 40px;
}

#vegetable-icon {
  color: var(--category-veg);
  font-size: 40px;
}

#pasta-icon {
  color: var(--category-pasta);
  font-size: 40px;
}

#snack-icon {
  color: var(--category-misc);
  font-size: 40px;
}

#beef-icon {
  color: var(--category-meats);
  font-size: 40px;
}

#dessert-icon {
  color: var(--category-dessert);
  font-size: 40px;
}

.kitchen_hero {
  margin-top: 190px;
  width: var(--width-full);
  background-image: url('https://picsum.photos/1280/650');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  color: var(--color-light);
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
}

.kitchen_hero_container {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: var(--grid-gap);
  height:100%;
  width: var(--width-12col);
  margin:0 auto 0 auto;
}

.kitchen_hero_box {
  grid-column: 10 / span 12;
  margin-top:200px;
  background-color: var(--background-color-light);
  border-radius: 5px;
  height: fit-content;
}

.kitchen_hero_box_text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
}

.kitchen_hero_box_text h6 {
  font-size:15px;
  font-weight: 700; 
  margin: 0 0 10px 0;
}

.kitchen_hero_box_text h3 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
  color:var(--primary-color)
}

.kitchen_hero_box_text p {
  font-weight: 425; 
}

.in_the_kitchen_headline {
    height: 60px;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
    font-size: 37px;
    font-weight: 700;
    text-transform:uppercase;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding: 0 0 20px 0;
    width: var(--width-12col);
    margin: 100px auto 0 auto;
    text-shadow: 1px 1px 3px var(--primary-color);
  }

.in_the_kitchen_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  box-sizing: border-box;
  width: var(--width-12col);
  margin: 30px auto 0 auto;
}

.in_the_kitchen_content_block_top_left   {
  background-color: var(--background-color-light);
  position:relative;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.in_the_kitchen_content_block_top_left_box {
  padding: 30px;
  grid-column: 1 / span 8;
  margin: 55px auto auto 55px;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
  display: grid;
}

.in_the_kitchen_content_block_top_left_text_box h6 {
  font-size:15px;
  font-weight: 700; 
  margin: 0 0 10px 0;
  border-left: 2px solid var(--primary-color);
  padding-left: 10px;
}

.in_the_kitchen_content_block_top_left_text_box h3 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
  color:var(--primary-color)
}

.in_the_kitchen_content_block_top_left_text_box p {
  font-weight: 425; 
}

.in_the_kitchen_content_block_top_left_box button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-weight: 300;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 50px;
  width: 179px;
}

.in_the_kitchen_content_block_top_left_box button a {
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
}

.in_the_kitchen_content_block_top_right {
  background-color: var(--background-color-light);
  position:relative;  
  display: flex;
  flex-direction: column;
}

.in_the_kitchen_content_block_middle_left   {
  background-color: var(--background-color-light);
  position:relative;
  display: flex;
  flex-direction: column;
}

.in_the_kitchen_content_block_middle_right {
  background-color: var(--background-color-light);
  position:relative;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.in_the_kitchen_content_block_middle_right_box {
  padding: 30px;
  grid-column: 1 / span 8;
  margin: 55px auto auto 55px;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
  display: grid;
}

.in_the_kitchen_content_block_middle_right_text_box h6 {
  font-size:15px;
  font-weight: 700; 
  margin: 0 0 10px 0;
  border-left: 2px solid var(--primary-color);
  padding-left: 10px;
}

.in_the_kitchen_content_block_middle_right_text_box h3 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
  color:var(--primary-color)
}

.in_the_kitchen_content_block_middle_right_text_box p {
  font-weight: 425; 
}

.in_the_kitchen_content_block_middle_right_box button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-weight: 300;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 50px;
  width: 179px;
}

.in_the_kitchen_content_block_middle_right_box button a {
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
}

.in_the_kitchen_content_block_bottom_left   {
  background-color: var(--background-color-light);
  position:relative;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.in_the_kitchen_content_block_bottom_left_box {
  padding: 30px;
  grid-column: 1 / span 8;
  margin: 55px auto auto 55px;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark); 
  display: grid;
}

.in_the_kitchen_content_block_bottom_left_text_box h6 {
  font-size:15px;
  font-weight: 700; 
  margin: 0 0 10px 0;
  border-left: 2px solid var(--primary-color);
  padding-left: 10px;
}

.in_the_kitchen_content_block_bottom_left_text_box h3 {
  font-size:22px;
  font-weight: 700; 
  text-transform:uppercase;
  margin: 0 0 10px 0;
  color:var(--primary-color)
}

.in_the_kitchen_content_block_bottom_left_text_box p {
  font-weight: 425; 
}

.in_the_kitchen_content_block_bottom_left_box button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-weight: 300;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 50px;
  width: 179px;
}

.in_the_kitchen_content_block_bottom_left_box button a {
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
}

.in_the_kitchen_content_block_bottom_right {
  background-color: var(--background-color-light);
  position:relative;  
  display: flex;
  flex-direction: column;
}

.footer_content {
  width: var(--width-full);
  height: 147px;
  background-color: var(--primary-color);
  margin-top: 241px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer_line {
  width: 2px;
  height: 72px;
grid-column: 7;
background-color: var(--color-light);
border-radius: 5px;
margin: auto 0 auto 0
}

.footer_some_box {
  grid-column: 2;
  margin: auto 0 auto 0
}

.footer_some_box ul {
  font-weight: 450;
  color: var(--color_dark);
}

.footer_some_box ul li {
  list-style-type: none;
}

.footer_some_box ul li:nth-child(2) {
  margin: 10px auto 10px auto;
}

.footer_some_box ul li a {
  text-decoration: none;
  color: var(--color_dark);
}

.footer_nav_box {
  grid-column: 4;
  margin: auto 0 auto 0
}

.footer_nav_box ul {
  font-weight: 450;
  color: var(--color_dark);
}

.footer_nav_box ul li {
  list-style-type: none;
}

.footer_nav_box ul li:nth-child(2) {
  margin: 10px auto 10px auto;
}

.footer_nav_box ul li a {
  text-decoration: none;
  color: var(--color_dark);
}

.footer_right_box {
  grid-column: 8 / span 4;
  margin: auto 0 auto 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: end;
}

.footer_right_box_spotify {
  grid-column: 1 / span 12;
  margin-bottom: auto;

}

.footer_right_box_spotify ul li{
  list-style-type: none;
}

.footer_right_box_spotify ul li a{
  text-decoration: none;
  color: var(--color-light);
  font-size: 11px;
}

.footer_right_box_etsy {
  color: var(--color_dark);
  grid-column: 9 / span 12;
  margin-top: 17.75px;
  display: flex;
}

.footer_right_box_etsy_icon {
  font-size: 23px;
  padding-left: 15px;
}

.footer_right_box_etsy_text {
  font-size: 11px;
}



/* Recipe_page */
.color-primary {
  color:var(--primary-color);
}

.recipe_details {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap:var(--grid-gap);
  width:var(--width-12col);
  margin: 0 auto;
  padding:100px 0 0 0;
}

.recipe_details_left {
  grid-column: 1 / span 6;
}


.recipe-hero-container {/* child to follow to 12 column */
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  width:var(--width-12col);
  gap:var(--grid-gap);
  margin: 0 auto;
} 

.recipe-hero-text {
  grid-column: 1 / span 4;
  margin-top:0px;
  grid-row: 1;
  color: var(--background-color-light);
}

.recipe-hero-text-smallest {
  font-size: 12px;
}

.recipe-hero-text-medium {
  font-size: 32px;
  text-transform: uppercase;
  margin-top:15px;
}

.recipe-hero-text-large {
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top:5px;
  margin-bottom:15px
}


/* START HERE */
/* PART I - Three icon+info */
.recipe_details_ingredient_block_info_three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  margin-top: 30px;
  color: var(--color-light);
}

.recipe_details_ingredient_block_info_three_item {
  display: flex;
  padding: 10px 0;
}

.recipe_details_ingredient_block_info_three_item i {
  color: var(--primary-color);
  padding-right: 10px;

}

/* Part I End */



/* PART II - input field ingredients start */
.recipe_details_ingredients {
  margin: 0 0 30px 0;
  color: var(--background-color-light);
  background: rgb(217,217,217);
  background: linear-gradient(90deg, rgba(217,217,217,0.23) 0%, rgba(217,217,217,0.24) 63%, rgba(217,217,217,0) 100%);
  padding: 20px 20px 5px 20px;
  border-radius: 5px;
}

.recipe_details_ingredients h4 {
font-size: 24px;
margin-bottom: 20px;
}

.recipe_details_ingredients_block_checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.recipe_details_ingredients label {
  display: flex;
  align-items: center;
  width: 45%;
  margin: 10px 10px 10px 0;
  font-size: 16px;
}

.recipe_details_ingredients input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid var(--background-color-light);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.recipe_details_ingredients input[type="checkbox"]:checked {
background-color: var(--primary-color);
border:none;
}

.recipe_details_ingredients input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--color-light);
  border-width: 0 2px 2px 0;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(45deg); 
}

/* input field ingredients end - PART II end */



/* PART III - buttons after input fields */
.recipe_details_ingredient_block_buttons {
  display: flex;
  margin-top: 30px;
}

.recipe_details_ingredient_block_buttons button{
  background-color: transparent;
  color: var(--background-color-light);
  border: 1px solid var(--color-light);
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.recipe_details_ingredient_block_buttons button a{
text-decoration: none;
color: var(--color-light);
}

.recipe_details_ingredient_block_buttons button:hover {
  background-color: var(--primary-color);
}


/* PART III END */



/* Right side top */
.recipe_details_right {
  grid-column: 7 / span 6;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe_details_right_image {
 
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} 

.recipe_details_right_image img {
  width:100%;
  height: 100%;
  max-width: fit-content;
  max-height: 500px;

}

/* filler to fake rest of page */

.filler_block {
  height: 2000px;
  width: 100%;
 }

 @media (width < 1024px) {
}

@media (width < 768px) {
}